<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/styles.css">
    
    <title>CRUD Application</title>
</head>
<body>
    <div class="login">
        <h1>Log in</h1>
        <hr>
        <form action="/login" method="post">
    
            <label for="email">Email</label>
            <input name="email" type="email">
    
            <label for="username">Password</label>
            <input name="password" type="password">
    
            <button type="submit">Login</button>
    
            <a href="/signup">Create Account</a>
    
        </form>
    </div>
     
</body>
</html>