<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/styles.css">
    
    <title>CRUD Application</title>
</head>
<body>
    <div class="login">
        <h1>Log in</h1>
        <hr>
        <form action="/create" method="post">
    
            <label for="name">Name</label>
            <input name="name" type="name">
    
            <label for="username">Username</label>
            <input name="username" type="username">
    
            <label for="email">Email</label>
            <input name="email" type="email">
    
            <label for="password">Password</label>
            <input name="password" type="password">
            <button type="submit">Sign Up</button>
    
        </form>
    </div>
</body>
</html>